@media screen and (max-width:450px){
    main{
        border-radius: 25px;
        width: 320px;
        margin-top: 90px;
    }

    .txtQuote{
        font-size: 20px;
        line-height: 30px;  
    }

    .txtName{
        font-size: 18px;
        line-height: 30px;  
    }

    .btnGenerate{
        font-size: 18px;
        width: 250px;
        height: 30px;
    }
}